<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class="container">
  <h1>Questions#answer</h1>

  <div class="callout">
    <p class="message"><%= @query %></p>
    <p class="author">You</p>
  </div>
  <div class="callout">
    <p class="message"><%= @answer %></p>
    <p class="author">Coach</p>
  </div>
</div>
<%= link_to "click here to go back to answer", ask_path %>

  